body {
  margin: 0px;
}

header {
  text-align: center;
  background: url('surfing3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
  position: relative;
  color: white;
  /*margin:-55px;*/
  padding-top: 100px;
}
a {
  color: white;
}
li{
  display: inline;
}
h1 {
  font-size: 100px;
  font-family: Indie Flower;
  padding-top: 50px;
}

.topnav {
  padding: 13px;
  background: rgba(0,0,0,0.5);
}
/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: center;
color: #f2f2f2;
text-align: center;
padding: 24px 80px;
width: 20%;
text-decoration: none;
font-size: 30px;
  font-family: Poiret One;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #5ab5cc;
color: white;
}
.h2wedstijden{
  background-color: white;
  text-align: center;

}
.content {
  margin-left: 300px;
  margin-right: 300px;
}
/*dit is om een bepaalt stukje uit je article aan te passen zo hoef je geen div in een div te gebruiken
.content article p {
  color: red;
} */

.content article table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

.content article table td, th {
  border: 0,3px solid #000;
  text-align: left;
  padding: 8px;
  /*background-color: #daedf4;*/
}

tr:nth-child(even) {
  background-color: #daedf4;
}
.img-surfwedstijd {
   float:right;
   width: 70%;
   padding-top: 30px;

}
html {
  background: url("blauwachergrond.jpg");
  background-size: cover;
  padding-bottom: 60px;
}
.content article h2{
  text-align: center;
}
.surfboards-plaatje{
  margin-left: 200px;
}

.Malibu {
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.Mini-mal {
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}
.Egg{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 100px;
  margin-right: 203px;
  background-color: white;
}
.Hybrid{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 100px;
  background-color: white;
}
.Shortboard {
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 100px;
  margin-right: 203px;
  background-color: white;
}
.Fish {
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 100px;
  background-color: white;
}
.longboardsurf{
  width: 50%;
  height: 50%;
  float: right;
}
.Funboard{
  width: 50%;
  height: 50%;
  float: right;
}
.Ei{
  width: 50%;
  height: 50%;
  float: right;
}
.Hybride{
  width: 50%;
  height: 50%;
  float: right;
}
.Kleinboard{
  width: 45%;
  height: 50%;
  float: right;
}
.Vis {
  width: 50%;
  height: 50%;
  float: right;
}
.Gold-Coast{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.Jeffreys-Bay{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}
.Bukit-Peninsula{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.Malibu-Califonia{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}
.Oahu{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.Hossegor{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}
.Gold-strand{
  width: 25%;
  height: 40%;
  float: right;
}
.Jeffreys-strand{
  width: 50%;
  height: 50%;
  float: right;
}
.Bukit-strand{
  width: 50%;
  height: 50%;
  float: right;
}
.Malibu-strand{
  width: 20%;
  height: 50%;
  float: right;
}
.Oahu-strand{
  width: 50%;
  height: 50%;
  float: right;
}
.Hossegor-strand{
  width: 50%;
  height: 50%;
  float: right;
}
.Vroeger{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.negentien{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}
.negentienvijf{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  margin-right: 203px;
  background-color: white;
}
.Tegenwoordig{
  float: left;
  width: 520px;
  height: 250px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
}

.Home{
  float: left;
  width: 1250px;
  height: 175px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  margin-top: 20px;
  background-color: white;
  margin-right: 200px;
}
